/* Copyright 2012 Daniel Rodriguez Hernandez 

This file is part of StarShip.

    StarShip is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    StarShip is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with StarShip.  If not, see <http://www.gnu.org/licenses/>.
*/
.mainContainer { /*border: 1px solid #000000;*/
	float: left;
	height: 600px;
	margin-left: 150px;
	text-align: center;
	width: 1000px;
}

.gameDiv {
	border: 1px solid #FF0000;
	margin-left: 200px;
}

.gameInterface {
	width: 598px;
	height: 30px;
	font-family: Verdana;
	font-size: 15px;
	float: left;
	color: #ffffff;
}

.score {
	float: left;
	padding: 5px;
}

.lifes {
	float: right;
	padding: 5px;
}

.debugCoords {
	float: left;
	border: 1px solid #000000;
	height: 600px;
	width: 300px;
	overflow: scroll;
	display: none;
}

#leftDiv {
	float: left;
	margin-top: 21px;
}

.leftRow {
	padding: 20px;
}

#blackEnemy {
	float: left;
	height: 21px;
	width: 25px
}

#violetEnemy {
	float: left;
	height: 70px;
	width: 45px;
}

.smartEnemyPoints {
	float: left;
	font-family: Verdana;
	font-size: 15px;
	margin-left: 15px;
	margin-top: 10px;
}

.enemyPoints {
	float: left;
	font-family: Verdana;
	font-size: 15px;
	margin-left: 33px;
}

#titleContainer { /*border: 1px solid #000000;*/
	height: 100px;
	margin-left: 485px;
	width: 300px;
}

#title {
	text-align: center;
	font-size: 22px;
	font-family: Verdana;
	padding: 5px;
}

#author {
	text-align: center;
	font-size: 12px;
	font-family: Verdana;
}

#code {
	text-align: center;
	font-size: 12px;
	font-family: Verdana;
}

#version {
	text-align: center;
	font-size: 12px;
	font-family: Verdana;
}

.leftTitle {
	font-size: 22px;
	font-family: Verdana;
	text-align: center;
	font-weight: bold;
}

#footer {
	color: #979797;
	font-family: Verdana;
	font-size: 9px;
	padding: 10px;
	text-align: center;
}

#footer a {
	text-decoration: none;
	color: #979797;
}

#rightDiv {
	float: right;
	margin-top: 14px;
	text-align: center;
	width: 144px;
}

#soundContainer {
	font-family: Verdana;
	font-size: 16px;
	width: 158px;
}

#soundTitle {
	float: left;
	font-size: 22px;
	font-weight: bold;
	padding: 5px;
}

#soundOnOff {
	float: right;
	padding: 10px;
}

.control {
	font-family: Verdana;
	font-size: 16px;
	padding: 4px;
	text-align: start;
	margin-left: 17px;
	text-decoration: underline;
}

.controlKey {
	font-family: Verdana;
	font-size: 12px;
	margin-left: 28px;
	padding: 2px 5px 5px;
	text-align: start;
}

#enemyContainer {
	margin-top: 25px;
}